
header {
    position: relative;
    z-index: 23;

    @media screen and (min-width: 768.1px) {
        #topheader {
            .container-fluid {
                color: #384349f6;

                a {
                    color: #384349f6;
                }

                font-weight: 600;
                letter-spacing: .5px;

                .leftside {
                    margin-top: 30px;

                    display: flex;
                    align-items: center;

                    i {
                        margin-top: 5px;
                        margin-left: 18px;
                        font-size: 18px;
                    }

                    p {
                        margin-left: 10px;
                    }

                    .email {
                        margin-left: 20px;

                        p {
                            display: inline-block;
                        }
                    }
                }

                .rightside {
                    margin-top: 30px;
                    justify-content: end;

                    i {
                        margin-left: 18px;
                        font-size: 18px;
                    }
                }
            }
        }

        #bottomheader {
            .logoside {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;

                    li {
                        font-family: "Poppins", sans-serif;
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: #384349f6;
                            font-weight: 600;
                            letter-spacing: .5px;
                        }

                        img {
                            margin-bottom: 5px;
                            width: 200px;
                        }
                    }
                }
            }

            .basketside {
                display: flex;
                align-items: end;
                margin-bottom: 20px;
                font-size: 18px;
                justify-content: end;
                color: rgb(59, 75, 86);

                i {
                    color: rgb(210, 187, 57);
                }
            }
        }
    }

    @media only screen and (min-width: 391.8px) and (max-width: 768.1px) {
        #topheader {
            .container-fluid {
                color: #384349f6;

                a {
                    color: #384349f6;
                    ;
                }

                font-weight: 600;
                letter-spacing: .5px;

                .leftside {
                    margin-top: 30px;

                    display: flex;
                    align-items: center;

                    i {
                        margin-top: 5px;
                        margin-left: 18px;
                        font-size: 18px;
                    }

                    p {
                        margin-left: 10px;
                    }

                    .email {
                        margin-left: 20px;

                        p {
                            display: inline-block;
                        }
                    }
                }

                .rightside {


                    margin-top: 30px;
                    justify-content: end;

                    i {
                        margin-left: 18px;
                        font-size: 18px;
                    }
                }
            }
        }

        #bottomheader {
            .mobile-logo {
                img {
                    width: 200px;
                }
            }

            .basketside {
                position: relative;
                display: flex;
                align-items: end;
                margin-bottom: 20px;
                font-size: 18px;
                justify-content: end;
                color: rgb(59, 75, 86);

                i {
                    color: rgb(210, 187, 57);
                    margin-right: 20px;
                    margin-top: 20px;
                    font-size: 21px;
                }
            }
        }
    }

    @media screen and (max-width:391px) {
        #topheader {
            .leftside {
                display: none !important;
            }

            .rightside {
                display: flex !important;
                justify-content: space-between !important;
                margin-top: 13px !important;

                a {
                    color: #697e8a;
                }

                i {
                    font-size: 15px;
                    padding-left: 3px;
                }

                margin-top: 30px;
                justify-content: end;

                i {
                    margin-left: 18px;
                    font-size: 18px;
                }
            }
        }

        #bottomheader {
            .mobile-logo {
                img {
                    width: 200px;
                }

                @media screen and (max-width:391px) {
                    display: none !important;
                }
            }

            .logoside {
                display: none;
            }

            .basketside {
                position: relative;
                display: flex;
                align-items: end;
                margin-bottom: 20px;
                font-size: 18px;
                justify-content: end;
                color: rgb(59, 75, 86);

                i {
                    color: rgb(210, 187, 57);
                    margin-right: 20px;
                    margin-top: 20px;
                    font-size: 21px;
                }
            }
        }
    }

    .basket-menu {
        height: 100vh;
        background-color: white;
        position: absolute;
        width: 34%;
        top: 0px;
        right: 0px;
        padding: 25px 24px;

    @media only screen and (min-width: 391.8px) and (max-width: 768.1px) {
    height: 62vh;
    width: 50%;
    .items{
        height: 38vh !important;
        overflow-y : scroll;
        .desc{
            margin-left: 10px;
        }
    }
    }

    @media screen and (max-width:391px) {
    height: 47vh;
    width: 70%;
    padding:10px;
    .items{
        height: 30vh !important;
        .item{
            margin-top: 9px !important;
            .image{
                width: 25% !important;
                img{
                    width: 100% ;
                    margin-top: 10px;
                }
            }
            .desc{
                .about{
                    margin-left: 10px;
                    h6{
                        font-size: 15px;
                    }
                }
                h5{
                    font-size: 15px ;
                    margin-top: -10px;
                    margin-left: 10px;
                }
            }
        }
    }

    .subtotal{
        margin-top: 0px !important;
        h4{
            font-size: 15px;
        }
    }
    .button{
        position: absolute;
        bottom: 15px;
        left: 2%;
        button{
            background-color: #193555;
            padding: 15px 20px !important;
            font-size: 14px !important;
            font-weight: 600;
            color: white;
        }
    }

    .closebutton{
        position: absolute;
        right: 15px;
        bottom: 20px;
        button{
            padding: 5px 20px;
        }
    }

    }

        .title {
            display: flex;
            justify-content: space-between;

            h5 {
                display: inline;
            }
            .X{
                padding: 10px;
            }

        }

        .items::-webkit-scrollbar {
            display: none;
        }
        .items {
            height: 67vh;
            overflow-y: scroll;
            
            padding-right: 10px;
            .item {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                .image {
                    width: 28%;
                    display: inline-block;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }

                }
                .desc{
                    .about {
                        width: 75%;
                    }
                    h6{
                        margin-top: 30px;
                        display: inline;
                    }
                }
            }
            
            
        }

        .subtotal{
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
    h4{
    text-transform: uppercase;
    display: inline;
}
h6{
    font-size: 30px;
    font-weight: 500;
    color: red;
    
}
        }

        .button{
            position: absolute;
            bottom: 15px;
            left: 2%;
            button{
                background-color: #193555;
                padding: 15px 50px;
                font-size: 20px;
                font-weight: 600;
                color: white;
            }
        }

        .closebutton{
            position: absolute;
            right: 15px;
            bottom: 20px;
            button{
                padding: 5px 20px;
            }
        }
    }
}


body{
    background-image: url(../images/slider/bg.jpg);
    height: 100vh;
    background-position: center center;
}


.allform{
margin-top: 50px;
    h3{
        font-weight: 300;
        font-size: 1.75rem;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
    .col-lg-4{
        border: 1px solid black;
        padding: 80px 30px;
        margin: 0 auto;
        border-radius: 10%;
        background-color: rgba(2, 2, 2, 0.615);
        .form-control{
            border-radius: 50px;
            padding: 14px 14px ;
            background-color:rgba(112, 112, 112, 0.432);
            color: white;
            font-size: 16px;
            font-weight: 500;
            &::placeholder{
                color:white;
                font-weight: 500;
            }
        }
        .checkbox{
            background-color:rgba(218, 207, 207, 0.63);
        }
        label{
            color: white;
        }
        button{
            width: 100%;
            padding: 15px 0px;
            border-radius: 40px;
            background: #fbceb5;
            color: black;
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;

        }
        button:focus{
            outline: none;
        }
    }
}